p{ width : 100%;
    margin: 10px;
    font-family: Verdana, Geneva, sans- serif;
    align: justify
}

.rubrik{
    background-color: purple
}
h1{ align: justify;
    font-size: 100%;
}
div, img {
    align: justify;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-right: 30px;
    margin-left: 30px;

}
article {
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 100px;
}
.container{
    position: relative;
    text-align: center;
    color : green;
    
}
.bottom-right{
    position: absolute;
    bottom: 10px
    right : 16px;
    
}
#ko{
    font-size: 120%;
}